html{
    background-image: url('../img/backgroundPlus.png');
}
#headerBG{
    background-image: url('../img/headerE2N.png');
    background-size: cover;
}
footer{
    color: white;
    background-color: #16476B;
}
footer ul{
    padding-left: 0;
}
footer li{
    list-style: none;

}
footer a {
    color : white;
}
.formBtn{
    background-color: #13A7E7;
    color: white;
}
.title{
    color : #13A7E7;
}
nav{
    background-color: #16476B;
}
nav a{
    color: white; /* blue colors for links too */
    font-weight: bold;
    text-decoration: inherit; /* no underline */
}
nav a:hover{
    color: #339ED8;
}
.socials{
    background-color: #13A7E7;
}